// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$shadow:                rgba(32, 59, 106, 0.2);

// Navbar
$navbar-padding-horizontal: 5px;

// Fonts
/* Bootstrap overrides */
// Scaffolding
$font-family-base:      Baskerville, serif;
$headings-font-family:  CamptonLight;
$font-size-base:        18px;

