// FIXME These font declarations will break on IE - font conversion
// needed
@font-face {
  font-family: 'Campton';
  src: url('../../assets/fonts/Rene_Bieder-Campton_Medium.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Campton';
  src: url('../../assets/fonts/Rene_Bieder-Campton_Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Campton';
  src: url('../../assets/fonts/Rene_Bieder-Campton_Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../../assets/fonts/324416-baskerville-120-pro-regular-web/Baskerville120ProWeb.woff') format('woff'),
       url('../../assets/fonts/272514-baskerville-120-pro-regular/Baskerville120Pro.otf') format('opentype'),
       url('../../assets/fonts/324416-baskerville-120-pro-regular-web/Baskerville120ProWeb.eot') format('eot');
  font-weight: 400;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../../assets/fonts/324411-baskerville-10-pro-bold-web/Baskerville10Pro-BoldWeb.eot') format('eot'),
       url('../../assets/fonts/272507-baskerville-10-pro-bold/Baskerville10Pro-Bold.otf') format('opentype'),
       url('../../assets/fonts/324411-baskerville-10-pro-bold-web/Baskerville10Pro-BoldWeb.woff') format('woff');

  font-weight: 600;
}

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1 {
  font-size: 87px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6px;
}

.text-highlight {
  font-family: $font-family-fancy;
  font-weight: 600;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h6 {
  text-transform: uppercase;
}

a {
  font-weight: 600;
}
