.content.row .front-page-title {
  margin-bottom: 0;
  margin-left: 60px;
}

.front-page-section {
  text-align: center;
  margin-top: 100px;
  h2 {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
    margin-bottom: 40px;
  }
}

.front-page-section-icon {
  margin: 0 auto;
  height: 160px;
  width: 160px;
}

.front-page-top-section {
  font-family: Baskerville, serif;
  font-size: 24px;
}

.squiggle {
  height: 25px;
  width: 382px;
  background-image: url("../../assets/images/squiggle.svg");
  margin-bottom: 50px;
  margin-top: 30px;
  float: right;
  margin-right: 55px;
}

.arrow {
  width: 62px;
  height: 165px;
  background-image: url("../../assets/images/arrow.svg");
  float: right;
  margin-right: 10px;
}

@include media-breakpoint-down(sm) {
  .arrow {
    display: none;
  }
}
