.info {
  font-size : 28px;
  line-height : 35.6px;
  letter-spacing : 3.64px;
  height: 600px;
}

a, a:hover, a:visited, a:focus {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

@media(max-width: 1238px) {
  .collapse.in {
    display:block !important;
  }

  .rotate { 
    display:none;
  }

  .wave {
    display:none;
  }
}

@media(min-width:733px) and (max-width: 991px){

  h3 {
    text-align: center;
  }

  .wave {
    display:none;
  }
}

@media(min-width:481px) and (max-width: 732px){
  h1 {
    font-size: 45px;
    line-height: 50px;
  }

  h3 {
    text-align: center;
  }

  .wave {
    display:none;
  }
}

@media(max-width:480px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    text-align: center;
  }

  .wave {
    display: none;
  }
}

main {
  background-color: #d3ecdf;
  margin-top: 90px;
}

.page-header {
  border: 0px !important;
}

.categories {
  padding: 30px;
} 

.sponsors {
  background: #fff;
  margin:0 auto;
}

.col-text {
  margin-top: 30px;
}

.col-icon img {
  margin-top: 40px;
  width: 5em;
  height: 5em;
}

.award-grid {
  @include container-fixed($gutter: 10px);
}

.award-row {
  @include make-row($gutter: 10px);
  vertical-align: middle;
}

.award {
  @include make-md-column(4, $gutter: 10px);
  text-align: center;
  background: #d3ecdf;
  padding: 20px;

  /* Slightly unstandard but working borders that don't mess up with gutter */
  outline: 3px solid #203B6A;
  outline-offset: -5px;
  -moz-outline-radius: 5px;
  -webkit-outline-radius: 5px;

  @media (min-width: $screen-md-min) {
    height: 210px;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    height: 120px;
  }
}

.rotate { 
  position:absolute;
  top: 48px;
  left: 65px;
  margin: 20px;
  text-transform: uppercase;
  overflow: visible;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  transform: rotate(90deg) translate(0, -100%);
}

.scale-to-height {
  height: 100%;
}

.wave {
  margin-right: 345px !important;
}

.email {
  text-decoration: underline;
  margin-right: 15px;
}

.awardbutton {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  border: 0px;
  background-color: #fff;
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.awardbutton h4 {
  font-family: Campton !important;
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
}