footer {
  padding: 30px 0;
}

.white-background {
  padding: 30px 0;
  background: #fff;
}

.sponsor-info {
  background: #fff;
}
.sponsor {
  border: 1px solid $blue;
  margin:15px;
  margin-bottom: 30px;
  background: $blue;

  h3 {
    text-align: center;
    color: #fff;
  }
}
.organiser-container {
  padding-top: 30px;
}
