footer {

  background: #fff;

}
.footercontainer{
	margin-top: 50px;
	margin-bottom: 50px;
}
.content-info{
	background: #fff;
}
.sponsor{
	border: 1px solid #203B6A;
	margin:15px;
	margin-bottom: 30px;
	background: #203B6A;
}
.content-info h4{
	margin-top: 30px;

}
.companies{
	margin-top: 20px;
	margin-bottom: 20px;
}
