#page-frontpage {
    h1 {
        .bluearrow {
            position: absolute;
            bottom: -230px;
            left: -12px;
            width: 42px;

            @media (max-width: $screen-sm-min) {
                display: none;
            }
        }
    }

    .mainheader {
        margin-bottom: 50px;
    }

    .col-icon {
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;

        @media (max-width: $screen-md-min) {
            text-align: center;
        }
    }
}
