header {
  z-index: 100;

  font-family : Campton;
  font-weight : bold;
  font-size : 14px;
  line-height : 80px;
  letter-spacing : 1.56px;
  text-transform : uppercase;
  color: $blue;
  vertical-align: middle;
}

nav {
  @include box-shadow(0 8px 25px $shadow);
}

.navbar {
  background-color: #fff !important;
  color: $blue !important;
  vertical-align: middle;

  .navbar-header {
    min-height: 90px;
  }

  &.navbar-static-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }

  .navbar-brand {
    padding: 10px;
    margin-top: 10px;
    margin-left: 12px;

    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }

    h4 {
      float:right;
      margin-top: 23px;
      margin-left: 15px;
      color: $blue;
      font-family: Campton;
      display: none;
    }
  }

  .navbar-nav {
    >li {
      >a, a:hover, a:focus, a:visited {
        color: $blue;
        padding: 10px;
        text-decoration: none;
      }

      img {
        width: 2em;
        margin-right: 10px;
      }
    }

    .bluenav {
      background: $blue;
      min-height: 90px;
      margin-bottom: 0px !important;
      margin-right: 0px !important;
      margin-left: 25px;

      >a, a:hover, a:focus, a:visited {
        padding: 0 20px;
        text-align: center;
        color: white !important;
      }

      a:hover {
        color: white !important;
        text-decoration: underline;
      }

      &:after {
        position:absolute;
        content: "";
        width: 10px;
        height: 10px;
        transform: rotate(315deg);
        transform-origin:0% 100%;
        background: $blue;
        left:-10;
        bottom:0;
        box-shadow: 10px -10px 0 0 $blue, 20px -20px 0 0 $blue, 30px -30px 0 0 $blue, 40px -40px 0 0 $blue, 50px -50px 0 0 $blue;
      }
    }
  }

  .navbar-toggle {
    margin-top: 30px;
    border-color:#fff;
    background-color: #fff;

    .icon-bar {
      background-color: $blue !important;
    }

    &:focus, &:hover {
      background-color:#fff;
    }
  }
}

@media (max-width: $screen-lg-min) {
  .navbar {
    /* Hide the blue item entirely */
    padding-right: 30px;
    .navbar-nav {
      .bluenav {
        display: none;
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .navbar {
    .navbar-nav {
      li {
        a, a:hover, a:visited, a:focus {
          padding: 5px;
        }
      }
    }

    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .navbar {
    .navbar-nav {
      li {
        a, a:hover, a:focus, a:visited {
          padding: 10px;
        }

        img {
          display: none;
        }
      }
    }
  }
}

@media(min-width: $screen-sm-min) {
  .navbar-nav {
    li {
      a, a:hover, a:focus, a:visited {
        margin-top: 24px;
      }
    }
  }
}

@media(max-width: $screen-sm-min) {
  .navbar-brand h4 {
    display:block !important;
  }

  .navbar-nav {
    li {
      img {
        display: inline;
      }
    }
  }
}

@media(max-width: 350px) {
    .navbar .navbar-brand {
        h4 {
            font-size: 18px;
            margin-top: 29px;
        }
        img {
            width: 50px;
            height: 50px;
            margin-top: 12px;
        }
    }
}
