a.list-article-title {
  display: block;
  h2 {
    font-size: 32px;
    letter-spacing: 3px;
  }
}

.list-article-read-more {
  text-transform: uppercase;
}

.list-article-date {
  opacity: 0.75;
  margin-top: 1rem;
}

.squiggle.list-article-spacer {
  margin-top: 100px;
  margin-bottom: 100px;
}
