.list-article-date {
  opacity: 0.75;
  margin-top: 1rem;
}

.list-article-date-with-author {
  margin-top: 0;
  margin-bottom: 0;
}

.list-article-feature-image {
  width: 100%;
  padding-bottom: (9/16) * 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-article-author-image {
  width: 64px;
  height: 64px;
}

.list-article-spacer {
  margin-top: 60px;
  margin-bottom: 60px;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
